h1{
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
    padding: 1vmin;
}

#workinprogress{

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;    
}

.progressiontreeButton{
    width: 130px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid black;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    
}




