h1{
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
    padding: 1vmin;
}

.progressiontreeButton{
    width: 130px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid black;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    
}




