*{
    background-color: #28282B;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

header {
    margin-bottom: 100px;
}

#heading {
    color: lightgray;
    text-align: center; 
}

.section {
    margin-left: 40px;
    margin-top: 40px;
}

.actionButton {
    width: 150px;
    height: 40px;
    padding: 10px;
    color: wheat;
    font-weight: bold;
    background-color: inherit;
    border: 1px solid wheat;
}

.actionButton:hover {
    color: gray;
    border: 1px solid gray;
}

.actionButton:active {
    color: wheat;
    border: 1px solid wheat;
}

h2 {
    color: lightgray;
}

#resourceBar{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: inherit;
    padding-top: 4%;
    text-align: center;

}

#resourceBar p {
    background-color: inherit;
}

#wheat {
    color: wheat;
}

#bread {
    color:rgb(216, 211, 211);
}



