*{
    font-family: "Courier New", sans-serif;
    background-color: #28282B;
    user-select: none;
    position: relative;
}



header h1 {
    color: darkgray;
    text-align: center;
    margin-bottom: 0;
}

#resourceSection {
    padding-bottom: 0;
    margin-left: 15%;
    margin-right: 0px;
    margin-top: 0px;

}

#populationDiv {
    display: inline;
}

.resource img {
    width: 20px;
}

.resource {
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline;
}

.resource span {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    margin-top: 0;
    padding:10px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    height: 50px;
}

#food {
    color: wheat;
}

#wood {
    color: #966F33;
}

#stone {
    color: black;
}

#reed {
    color: white;
}

#buttonSection {

    margin-top: 100px;
    margin-left: 10%;
    width: 20%;

}

#buttonSection h2 {
    color: burlywood;
    margin-bottom: 70px;

}

#populationSection {
    float: left;
    margin-top: 62px;
    margin-left: 70px;
    width: 15%;

    text-align: left;



}

#populationSection h2 {
    padding-left: 0px;
}

#unemployedHeading {
    padding-left: 12px;
}


#totalPopulation, #unemployedPopulation {
    padding-left: 55px;
}

#unemployedPopulation {
    color: lightgray;
}

/* #populationSection h2 {
    color: powderblue;
    margin-bottom: 10px;
}

#populationSection h3 {

    text-align: center;
} */

#totalPopulation {
    color: gold;
}

.resourceButton {
    height: 30px;
    width: 130px;
    color: lightgray;
    border: 2px solid lightgray;
    margin: 8px;
    font-weight: bold;
}

.resourceButton:active {
    color: wheat;
    border: 2px solid white;
}

button .tooltip {
    visibility: hidden;
    width: 180px;
    height: 50px;

    background-color: #F2AA4CFF;

    position: absolute;

    z-index: 2;
    bottom: -0%;

    margin-left: 150px;
    color: lightgray;
    background-color: inherit;
    border: 2px solid gray;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

}

button:hover .tooltip{
    visibility: visible;

}
.birthButton {
    height: 30px;
    width: 130px;
    color: gold;
    border: 2px solid gold;
    margin: 8px;
    margin-left: 8px;
    font-weight: bold;
}

.birthButton:hover {
    border: 2px solid white;
}

.birthButton:active {
    border: 2px solid wheat;
}

.fireButton, .hireButton{
    padding: 0;
    margin: 0;
    height: 30px;
    color: yellow;
    font-weight: bold;
    width: 60px;
    border: 2px solid black;


}

.fireButton:hover {
    border: 2px solid yellow;

}

.fireButton:active {
    border: 2px solid black;

}

.hireButton:hover {
    border: 2px solid yellow;
}

.hireButton:active {
    border: 2px solid black;

}

}

.hireButton {
    margin: 0;

}

#woodBtn:hover {
    border: 2px solid #966F33;
    color: #966F33;
}

#foodBtn:hover {
    border: 2px solid wheat;
    color: wheat;
}

#stoneBtn:hover {
    border: 2px solid black;
    color: black;
}

#reedBtn:hover {
    border: 2px solid white;
    color: white;
}

#sectionDiv {
    display:inline-flex;
}

#buttonSection, #populationSection {
    float: left;
    display: inline;

}

.hireFireButtons {
    display: inline-block;
    width: 138px;
    padding-bottom: 15px;
    padding-left: 8px;




}

.workerNumbers {
    float: left;
    margin-top: 105px;
    display: inline;
    width: 33px;

}



.numberOfWorkers {
    width: 150px;
    margin: 0;
    color: darkgray;
    font-weight: bold;
    padding: 12px 0px;

}




.workerNumber {
    width: 25px;
    margin:  0;
    padding: 0;
}

#totalPopulation, #unemployedPopulation {
    font-weight: bold;
}

#populationHeading {
    font-weight: bold;
    color:gold;
}

#unemployedHeading{
    font-weight: bold;
    color: powderblue;
}
